services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: taskmanagement-sqlserver
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: 'Ypoer_strong_lr#Vw)Md1!'
      MSSQL_PID: 'Express'
    ports:
      - '1433:1433'
    volumes:
      - mssql-data:/var/opt/mssql
    restart: unless-stopped

volumes:
  mssql-data:
    driver: local
